---
layout: index
title: Home
permalink: /
---

<div class="container mtb">
    <div class="row">

        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.categories['blog'] limit:5 %}
                <!-- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}"></a>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}</csmall></p>
                {{ post.excerpt }}
                <!--p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p-->
                <div class="spacing"></div>
            {% endfor %}

        </div><!--/col-lg-8 -->
    </div><!--/row -->
</div><!--/container -->

{% include portfolio.html title="FEATURED MLT APPS" limit=10 %}
