---
layout: index
title: Home
permalink: /
---

<div class="container mtb">
    <div class="row">

        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">
            <h3>Recent News</h3>
            {% for post in site.categories['blog'] limit:5 %}
                <!-- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}"></a>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}</csmall></p>
                {{ post.excerpt }}
                <!--p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p-->
                <div class="spacing"></div>
            {% endfor %}

        </div><!--/col-lg-8 -->

        <div class="col-lg-4">

          <h4>Search</h4>
           <div class="hline"></div>
           <div>
               <script>
               (function() {
                   var cx = '003207220831093949205:kynivc83vxk';
                   var gcse = document.createElement('script');
                   gcse.type = 'text/javascript';
                   gcse.async = true;
                   gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                       '//cse.google.com/cse.js?cx=' + cx;
                   var s = document.getElementsByTagName('script')[0];
                   s.parentNode.insertBefore(gcse, s);
               })();
               </script>
               <gcse:search></gcse:search>
           </div>

           {% include portfolio.html title="Featured Apps" %}
           <div class="spacing"></div>

           <h4>Subscribe</h4>
           <div class="hline"></div>
             <p class="rss-subscribe">Subscribe to News<a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
           <div class="spacing"></div>

        </div><!--/col-lg-4 -->

    </div><!--/row -->
</div><!--/container -->
