<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>MLT Multimedia Framework</h1>
                <h5>Author, manage, and run multitrack audio/video compositions.</h5>
                <h5>The engine of a non-linear video editor that can be used in all
                   sorts of apps, not just desktop video editors.</h5>
                <h5>MLT is an open source multimedia framework, designed and developed
                   for television broadcasting. It provides a toolkit for broadcasters, video editors,
                   media players, transcoders, web streamers and many more types of applications.
                   The functionality of the system is provided via an assortment of ready to use tools,
                   XML authoring components, and an extensible plug-in based API.</h5>
                <h5><a href="https://sourceforge.net/projects/mlt/files/">Download source code</a>.
                  <img src="{{ site.baseurl }}/assets/img/32.png?raw=true">
                The easiest way to try out and learn MLT is by downloading
                  <a href="https://www.shotcut.org/">Shotcut</a>.
                  <img src="{{ site.baseurl }}/assets/img/shotcut-logo-32.png?raw=true"></h5>
            </div>
            </div>
            <!div class="col-lg-8 col-lg-offset-2 himg">
                <!img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            <!/div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
